@media (width <= 768px)
{
	
	#summary_title{
		font-size: 32px;
	}
	
	.summary_block {
		font-size: 18px;
	}
	
	.contact {
		font-size: 16px;
	}
	
}


@media (width <= 630px)
{
	
	#summary_title{
		font-size: 24px;
	}
	
	.summary_block {
		font-size: 16px;
	}
	
	.contact {
		font-size: 14px;
	}
	
}


@media (width <= 470px)
{
	
	#summary_title{
		font-size: 18px;
	}
	
	.summary_block {
		font-size: 14px;
	}
	
	.contact {
		font-size: 11px;
	}
	
	#source_link {
		width: 31px;
		height : 30px;
	}
	
}

@media (width <= 350px)
{
	
	#summary_title{
		font-size: 16px;
	}
	
	.summary_block {
		font-size: 12px;
	}
	
	.contact {
		font-size: 9px;
	}
	
	#source_link {
		width: 25px;
		height : 24px;
	}
	
}
