*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;
}

html, body {
	width : 100vw;
	height : 100vh;
	overflow-x: hidden;
}

p {
	color: #000000;
	margin : 0;
}

a {
	color : #000000;
	font-weight : bold;
}

.ghost
{
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	position: absolute;
	z-index: -1000;
	white-space: nowrap;
	-webkit-user-select: none;
}

.b_ghost {
	font-weight : normal;
}

#root {
	min-height : 100%;
	display : flex;
	flex-direction: column;
	align-items : center;
	justify-content : center;
	padding : 30px;
}

#canvas_bg {
	position : fixed ;
	top:0;
	left:0;
	width: 100vw;
	height : 100vh;
}

.summary_border {
	width : 100% ;
	height : 14px;
	background-color : #000000;
}

#summary_container {
	position: relative;
	width : 60rem;
	max-width: 85%;
	background-color: rgba(255, 255, 255, 0.67);
	box-shadow: 0px 0px 10px 1px rgba(50, 50, 35, 0.35);
	border-radius: 8px;
	padding: 20px;
}

#summary_title {
	font-size: 42px;
	text-align :center;
}

.summary_text {
	text-align: center;
}

.summary_subj {
	color : #2d2d2d;
	font-weight: bold;
}

.summary_list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.summary_list_item {
	text-align: center;
}

.summary_block {
	font-size: 21px;
	margin : 12px 0;
}


#summary_bottom
{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

#contacts{
	margin-left : auto;
	text-align: center;
}

.contact {
	font-size: 18px;
	font-weight : bold;
}

#contacts_name {
	margin-bottom: -7px;
}


#source_link{
	display : block;
	width: 46px;
	height : 45px;
	background-image: url("./img/github.svg");
	background-position: center;
	background-size: cover;
	background-repeat : no-repeat;
	margin-left : auto;
}

